html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.root {
  position: fixed;
  left: 0;
  top: 100;
  width: 100vw;
  height: 100vh;
}

#editor-panel,
#view-panel {
  min-width: 40vw;
  padding: 10px;
  /* height: 100vh; */
}

#flip-mode {
  display: none;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 10;
  font-size: large;
  padding: 10px 20px;
  margin: 5px 0;
}

.iPadShowKeyboard {
  right: 130px !important;
}

#view-panel {
  width: 70vw;
}

#editor-panel {
  width: 30vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#run,
#kill {
  padding: 5px;
  margin-top: 5px;
}
.button {
  margin-right: 10px;
}
.text {
  padding: 5px 0 5px 0;
}
.text-fragment {
  padding: 0 10px 0 10px;
  align-self: center;
}
.logs-container {
  overflow-y: scroll;
  height: calc(min(200px, 30vh));
  position: relative;
}
.deep-link {
  position: absolute;
  top: 5px;
  right: 5px;
}
#features {
  position: fixed;
  bottom: 0;
}
.spacer {
  flex-grow: 1;
}

.title {
  text-align: center;
  width: 100%;
}

#viewer {
  min-height: 80vh;
}

@media only screen and (max-height: 600px),
  only screen and (max-width: 600px),
  only screen and (max-width: 767px),
  only screen and (max-aspect-ratio: 1/2) {
  .settings,
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 767px),
  only screen and (max-aspect-ratio: 1/2) {
  #flip-mode {
    display: block;
  }

  #viewer {
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 100vw;
  }

  #viewer {
    height: calc(100vh - 55px);
  }

  #link-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 4;
  }

  .logs-container {
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
  .logs-container pre {
    color: rgba(50, 50, 50, 0.9);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-weight: normal;
    font-size: 12px;
  }

  #viewer {
    z-index: 0;
  }

  #viewer.focused {
    z-index: 3;
  }

  .features {
    display: none;
  }
}
